@import './../../variables.scss';

.cart-title-and-button-box {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2rem;

   h1 {
      width: 40%;
   }
   .cart-button-remove-all{
      button{
         border-radius: 20px;
         background: $danger-100;
         border: 1px solid $danger-100;
      }
      button:hover{
         background: white;
         color: $danger-100;
      }

      .dark-rem-all {
         background: $danger-200;
         border: 1px solid $danger-200;
      }
      .dark-rem-all:hover {
         color: $danger-200;
         background: $surface-mixed-100;

      }
   }
}