@import './../../variables.scss';

.page-cart {
  padding: 2rem;
  min-height: 100vh;
}

.cart-title-and-button-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 2rem;

  .cart-button-remove-all {
    text-align: right;
    button {
      border-radius: 20px;
      background: $danger-100;
      border: 1px solid $danger-100;
    }

    button:hover {
      background: white;
      color: $danger-100;
    }

    .dark-rem-all {
      background: $danger-200;
      color: $surface-mixed-100;
      border: 1px solid $danger-200;
    }

    .dark-rem-all:hover {
      color: $danger-200;
      background: $surface-mixed-100;
    }

    .light-rem-all {
      color: white;
    }
  }
}
