/** SCSS DARK THEME PRIMARY COLORS */
$primary-100: #2285a2;
$primary-200: #4692ac;
$primary-300: #609fb6;
$primary-400: #79acc0;
$primary-500: #90bacb;
$primary-600: #a6c7d5;

/** SCSS DARK THEME PRIMARY COLORS */
// $primary-100: #22a2a6;
// $primary-200: #49acb0;
// $primary-300: #65b7b9;
// $primary-400: #7dc1c3;
// $primary-500: #94cbcd;
// $primary-600: #aad6d7;

/** SCSS DARK THEME MIXED SURFACE COLORS */
$surface-mixed-100: #171c1f;
$surface-mixed-200: #2c3134;
$surface-mixed-300: #43474a;
$surface-mixed-400: #5b5f61;
$surface-mixed-500: #747779;
$surface-mixed-600: #8e9193;

