.nav-menu {
    height: 4rem;
    width: 100%;
    background-color: rgb(31, 101, 115);
    display: flex;
    justify-content: space-around;
    align-items: center;
    .home-link {
        color: white;
        font-weight: bold;
        text-decoration: none;
        font-size: larger;
      }
      .user{
        color: white;
      }
   
    div {
        display: flex;
        gap: 1.250rem;
    }
  
  
}