// "product-item"
@import './../../variables.scss';

.dark {
  background: $surface-mixed-200;
}
.dark-cat-p {
  color: $surface-mixed-100;
}
.dark-title {
  color: white;
}

.dark-description {
  color: $surface-mixed-600;
}

.dark-price {
  color: $primary-500;
}

.dark-qnt-text {
  color: white;
}
.dark-pro-qua-inp {
  border: 1px solid $primary-500;
}
.dark-add {
  background: $primary-500;
  color: $surface-mixed-100;
  border: 1px solid $primary-500;
}

.dark-add:hover {
  background-color: $surface-mixed-200;
  color: $primary-500;
  border: 1px solid $primary-500;

}

.light {
  background: white;
  box-shadow: 1px 2px 9px $surface-mixed-600;
}
.light-cat-p{
  color: white;
}
.light-description {
  color: $surface-mixed-600;
}

.light-title {}

.light-pro-qua-inp {
  background: white;
  color: $surface-mixed-100;
  border: 1px solid $primary-500;
}

.light-add {
  background: $primary-100;
}

.light-add:hover {
  background: white;
  color: $primary-100;
  border: 1px solid $primary-100;
}

.product-item,
.product-info {
  gap: 0.7rem;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.product-item {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  // background: white;
  padding: 1.25rem 1rem;
  border-radius: 20px;
  // border: 1px solid $surface-mixed-600;
  width: 30%;
  max-width: 300px;
}

.picture-view {
  width: 100%;
  max-height: 40%;
  margin: 0;
}

.product-image {
  max-width: 100%;
  height: 200px;
}

.product-info {
  display: flex;
  flex-direction: column;
  color: black;
  margin: 0;
  width: 100%;
}

.quantity-manager{
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark-quantity-display{
  color: white;
}

.quantity-button{ 
  margin: 0 10px;
}

.product-title {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  height: 5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
}

.product-description {
  text-align: justify;
  font-size: 15px;
  font-weight: 400;
  max-height: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: break-spaces;
  margin: 0;
  line-height: 21px;
  letter-spacing: 0.4px;
}

.product-add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 90%;
  margin: 0 auto;
  // background: $primary-100;
  // border: 2px solid $primary-100;
  // color: white;
  // background-color: rgb(34, 162, 166);
  border-radius: 50px;
  outline: none;

  p {
    margin: 0;

  }

}

.product-add-to-cart:hover {
  // color: $primary-100;
}

.product-box-category {
  width: 100%;
  display: flex;
  justify-content: end;
}

.product-category {
  background-color: $primary-300;
  // color: red;
  padding: 2px 10px;
  border-radius: 5px;
  width: fit-content;
  text-align: right;
  margin: 0;
}

.product-quantity {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;

  &-text {
    padding-right: 5px;
  }

  &-input {
    height: 30px;
    width: 50px;
    border-radius: 10px;
    // background: white;
    // color: black;
    font-size: 16px;
    // border-color: #45938d;
    // border: 1px solid red;
    text-align: center;
    outline: none;
  }
}

.product-price {
  font-size: 25px;
  margin: 0.9rem 0 0;
}

.product-quantity-cart {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-remove-item {

  display: flex;
  align-items: center;
  justify-content: center;
}


@media (max-width: 480px) {
  .product-item {
    width: 100%;
    /* Display 1 card per row on screens up to 480px width */
  }
}

@media (max-width: 768px) {
  .product-item {
    width: 45%;
    /* Display 2 cards per row on screens up to 768px width */
  }
}

@media (max-width: 1024px) {
  .product-item {
    // width: 30%;
    /* Display 3 cards per row on screens up to 1024px width */
  }
}